pyrofork
python-dotenv
aiofiles
flask
TgCrypto
# V10 Additions
httpx
pytz
psutil

# Supabase (DB)
supabase
postgrest

setuptools
wheel

# V13/V14/V15 Additions
google-api-python-client
google-auth-httplib2
google-auth-oauthlib